<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
</head>
<body>
  <h1><a href="/">Users and Interests</a></h1>
  <%= yield %>
  <p>There are <%= @users.size %> users with a total of <%= count_interests %> interests.</p>
</body>
</html>
